@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

.screen {
  background: linear-gradient(90deg, #5140d3, #4339d3);
  position: relative;
  height: 550px;
  width: 360px;
  box-shadow: 0px 0px 24px #271a9b;
  /* border-radius: px; */
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
  /* border-radius: 20px; */
}

.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #fff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
  height: 220px;
  width: 220px;
  background: #2413ac;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #0b16ac, #1f189b);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen__background__shape4 {
  height: 400px;
  width: 200px;
  background: #1316c2;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}

.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
  /* border-radius: 20px; */
}

.login__field {
  padding: 20px 0px;
  position: relative;
}

.login__icon {
  position: absolute;
  top: 40%;
  color: #7581b5;
  margin-left: 10px;
}

.login__input {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  border-radius: 10px;
  background: none;
  padding: 10px;
  padding-left: 40px;
  font-weight: 700;
  width: 75%;
  transition: 0.2s;
  /* padding-left: 7px; */
}

.login__input:active,
.login__input:focus,
.login__input:hover {
  outline: none;
  border-bottom-color: #67719e;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #241e9c;
  box-shadow: 0px 2px 2px #566096;
  cursor: pointer;
  transition: 0.2s;
}

.button__text {
  transition: all ease-in-out 0.3s;
}
.login__submit:hover .button__icon {
  transform: translate(-110px, 0);
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
  border-color: #676b9e;
  outline: none;
}

.button__icon {
  font-size: 24px;
  margin-left: auto;
  color: #7875b5;
  transition: all ease-in-out 0.4s;
}

.social-login {
  position: absolute;
  height: 140px;
  width: 160px;
  text-align: center;
  bottom: 0px;
  right: 0px;
  color: #fff;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-login__icon {
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 0px 8px #7581b5;
}

.social-login__icon:hover {
  transform: scale(1.5);
}
